@charset "UTF-8";

/*
Theme Name: Twenty Twenty-One
Theme URI: https://wordpress.org/themes/twentytwentyone/
Author: the WordPress team
Author URI: https://wordpress.org/
Description: Twenty Twenty-One is a blank canvas for your ideas and it makes the block editor your best brush. With new block patterns, which allow you to create a beautiful layout in a matter of seconds, this theme’s soft colors and eye-catching — yet timeless — design will let your work shine. Take it for a spin! See how Twenty Twenty-One elevates your portfolio, business website, or personal blog.
Requires at least: 5.3
Tested up to: 5.6
Requires PHP: 5.6
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: twentytwentyone
Tags: one-column, accessibility-ready, custom-colors, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, block-patterns, rtl-language-support, sticky-post, threaded-comments, translation-ready

Twenty Twenty-One WordPress Theme, (C) 2020 WordPress.org
Twenty Twenty-One is distributed under the terms of the GNU GPL.
*/



*{
  box-sizing:border-box;
  transition:all 1s;
}

.content-page{
  grid-template-rows: 90% 10%;
  grid-template-areas:"body" "menu";
  width:100vw;
  height:100vh;
}

.prism{
     --scale:0.5;
     --width:calc(var(--x2) - var(--x1));
     --height:calc(var(--y2) - var(--y1));
     --depth:calc(var(--z2) - var(--z1));
     --center:50;
     --x1-adjust:calc(var(--x1) - var(--center));
     --y1-adjust:calc(var(--y1) - var(--center));
     --z1-adjust:calc(var(--z1) - var(--center));
     --x2-adjust:calc(var(--x2) - var(--center));
     --y2-adjust:calc(var(--y2) - var(--center));
     --z2-adjust:calc(var(--z2) - var(--center));
  position:absolute;
      display: flex;
    justify-content: center;
    align-items: center;
}


body{
  background-color:#333;
  height:100vh;  
  width:100vw;
  display:flex;
  align-items:center;
  justify-content:center;
}

#stage{
  transform-style: preserve-3d;
  position:relative;
  perspective: 100000px;
  display: flex;
  width: 100vmin;
  height: 100vmin;
  border: 1px solid orange;
  justify-content: center;
  align-items: center;
  grid-area:body;
}

#grid{
  transform-style: preserve-3d;
  position:relative;
  perspective: 100000px;
  display: flex;
  width: 100vmin;
  height: 100vmin;
  border: 1px solid orange;
  justify-content: center;
  align-items: center;
  
}

.prism-pane{
  position:absolute;
  width:calc(100 * var(--scale) * 1vmin);
  height:calc(100 * var(--scale) * 1vmin);
  transform-style: preserve-3d;
}

.prism-pane.x{

}

.prism-pane.y{
  transform:rotateY(-90deg);

}

.prism-pane.z{
  transform:rotateX(90deg);

}

.prism-pane.x:after{
    content:'';
    transform:
  translatez(calc(((var(--z2-adjust))) * var(--scale) * 1vmin))
    ;
  background-color:rgba(64, 128, 255, 0.5);
  width:calc(var(--width) *  var(--scale) * 1vmin);
  height:calc(var(--height) *  var(--scale) * 1vmin);
  left:calc(var(--x1) *  var(--scale) * 1vmin);
  top:calc(var(--y1) *  var(--scale) * 1vmin);
  position:absolute;
}

.prism-pane.x:before{
  content:'';
  transform:
    rotateY(180deg)
  translatez(calc(((var(--z1-adjust))) * var(--scale) * -1vmin))
    ;
  background-color:rgba(64, 128, 255, 0.5);
  width:calc(var(--width) *  var(--scale) * 1vmin);
  height:calc(var(--height) *  var(--scale) * 1vmin);
  left:calc(var(--x1) *  var(--scale) * 1vmin);
  top:calc(var(--y1) *  var(--scale) * 1vmin);
  position:absolute;
}

.prism-pane.y:before{
    content:'';
    transform:   
translatez(calc(var(--x1-adjust) * var(--scale) * -1vmin))
    ;
  background-color:rgba(255, 128,64, 0.5);
  width:calc(var(--depth) *  var(--scale) * 1vmin);
  height:calc(var(--height) *  var(--scale) * 1vmin);
  left:calc(var(--z1) *  var(--scale) * 1vmin);
  top:calc(var(--y1) *  var(--scale) * 1vmin);
  position:absolute;
}

.prism-pane.y:after{
    content:'';
    transform:  
    rotatey(180deg)
translatez(calc(var(--x2-adjust) * var(--scale) * 1vmin))
    ;
  background-color:rgba(255, 128,64, 0.5);
  width:calc(var(--depth) *  var(--scale) * 1vmin);
  height:calc(var(--height) *  var(--scale) * 1vmin);
  left:calc(var(--z1) *  var(--scale) * 1vmin);
  top:calc(var(--y1) *  var(--scale) * 1vmin);
  position:absolute;
}

.prism-pane.z:before{
   content:'';
    transform:translatez(calc(var(--y1-adjust) * var(--scale) * -1vmin))   
    ;
  background-color:rgba(255, 255, 64, 0.5);
  width:calc(var(--width) *  var(--scale) * 1vmin);
  height:calc(var(--depth) *  var(--scale) * 1vmin);
  left:calc(var(--x1) *  var(--scale) * 1vmin);
  top:calc(var(--z1) *  var(--scale) * 1vmin);
  position:absolute;
}

.prism-pane.z:after{
    content:"";
    transform:
    rotateY(180deg)
    translatez(calc(var(--y2-adjust) * var(--scale) * 1vmin))   
    ;
  background-color:rgba(0, 255, 64, 0.5);
  width:calc(var(--width) *  var(--scale) * 1vmin);
  height:calc(var(--depth) *  var(--scale) * 1vmin);
  left:calc(var(--x1) *  var(--scale) * 1vmin);
  top:calc(var(--z1) *  var(--scale) * 1vmin);
  position:absolute;
}

.face{
  outline:0px solid black;
}

   .controls{
     position:fixed;
     width:100%;
     height:50px;
     background-color:lightgrey;
     bottom:0px;
     display:flex;
     justify-content: center;
     align-items: center;
   }

.labels{
  position:fixed;
  width:250px;
  left:0;
  background-color:grey;
}

.label-scale:after{
  counter-reset: variable calc(var(--scale) * 100 );
  content:counter(variable);
}
.label-x1:after{
  counter-reset: variable var(--x1);
  content:counter(variable);
}
.label-x2:after{
  counter-reset: variable var(--x2);
  content:counter(variable);
}
.label-y1:after{
  counter-reset: variable var(--y1);
  content:counter(variable);
}
.label-y2:after{
  counter-reset: variable var(--y2);
  content:counter(variable);
}
.label-z1:after{
  counter-reset: variable var(--z1);
  content:counter(variable);
}
.label-z2:after{
  counter-reset: variable var(--z2);
  content:counter(variable);
}
.label-x1-adjust:after{
  counter-reset: variable var(--x1-adjust);
  content:counter(variable);
}
.label-y1-adjust:after{
  counter-reset: variable var(--y1-adjust);
  content:counter(variable);
}
.label-z1-adjust:after{
  counter-reset: variable var(--z1-adjust);
  content:counter(variable);
}
.label-x2-adjust:after{
  counter-reset: variable var(--x2-adjust);
  content:counter(variable);
}
.label-y2-adjust:after{
  counter-reset: variable var(--y2-adjust);
  content:counter(variable);
}
.label-z2-adjust:after{
  counter-reset: variable var(--z2-adjust);
  content:counter(variable);
}
.label-width:after{
  counter-reset: variable var(--width);
  content:counter(variable);
}
.label-height:after{
  counter-reset: variable var(--height);
  content:counter(variable);
}
.label-depth:after{
  counter-reset: variable var(--depth);
  content:counter(variable);
}
.label-x-offset:after{
  counter-reset: variable var(--x-offset);
  content:counter(variable);
}
.label-y-offset:after{
  counter-reset: variable var(--y-offset);
  content:counter(variable);
}
.label-z-offset:after{
  counter-reset: variable var(--z-offset);
  content:counter(variable);
}

.label-x-centerpoint:after{
  counter-reset: variable var(--x-centerpoint);
  content:counter(variable);
}

.label-x-actual-centerpoint:after{
  counter-reset: variable var(--x-actual-centerpoint);
  content:counter(variable);
}

.label-y-centerpoint:after{
  counter-reset: variable var(--y-centerpoint);
  content:counter(variable);
}

.label-y-actual-centerpoint:after{
  counter-reset: variable var(--y-actual-centerpoint);
  content:counter(variable);
}

.label-z-centerpoint:after{
  counter-reset: variable var(--z-centerpoint);
  content:counter(variable);
}

.label-z-actual-centerpoint:after{
  counter-reset: variable var(--z-actual-centerpoint);
  content:counter(variable);
}



.numbers{
  position:fixed;
  width:200px;
  left:0;
  top:30px;
  background-color:lightgrey;
}

.view-select{
  grid-area:menu;
  z-index:1;
}

.view-select-label{
  grid-area:menu; 
  z-index:1;
}

#iso-left:checked ~ #stage {
    transform:matrix3d(
      0.866025,  0.57, 0, 0,
      0, 1.00021, 0, 0,
      -0.866025, 0.433102, 1, 0,
      0, 0, 0, 1
    );
}

#iso-right:checked ~ #stage {
  transform:matrix3d(
    0.866025, -0.57, 0, 0,
    0, 1.00021, 0, 0,
    0.866025, 0.433102, 1, 0,
    0, 0, 0, 1
  );
}

#iso-top:checked ~ #stage {
  transform:matrix3d(
    1, -0.57, 0, 0, 
    1, 0.433102, 0, 0,
    0, -1, 1, 0,
    0, 0, 0, 1
  );
}

#normal:checked ~ #stage{
  transform: matrix(0);
 }

#top:checked ~ #stage{
  transform: matrix3d(1,0,0.00,0,0.00,0,-1.00,0,0,1,0,0,0,0,0,1);
}

#left:checked ~ #stage{
      transform: matrix3d(0,0,-1.00,0,0.00,1,0.00,0,1,0,0,0,0,0,0,1);
}

#right:checked ~ #stage{
      transform: matrix3d(0,0,1.00,0,0.00,1,0.00,0,-1,0,0,0,0,0,0,1);
}

#spin:checked ~ #stage{
  animation: 4s spin_y infinite;
}

@keyframes spin_y {
  0%   { transform:matrix3d(
    0.866025,  0.57, 0, 0,
    0, 1.00021, 0, 0,
    -0.866025, 0.433102, 1, 0,
    0, 0, 0, 1
  ); }
  50% { transform:matrix3d(
    0.866025, -0.57, 0, 0,
    0, 1.00021, 0, 0,
    0.866025, 0.433102, 1, 0,
    0, 0, 0, 1
  ); }
  100% {  transform:matrix3d(
    0.866025,  0.57, 0, 0,
    0, 1.00021, 0, 0,
    -0.866025, 0.433102, 1, 0,
    0, 0, 0, 1
  ); }
}


#hue:checked ~ #stage .prism-pane:before, #hue:checked ~ #stage .prism-pane:after{
  animation: 4s hue_shift infinite;
}

@keyframes hue_shift {
  0%   { 
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}